/**
 * @name Theme based on dark matter
 * @author Tropical#8908, Hammock#3110 and me
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
 */

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap'); /* Ubuntu Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans for fallback */

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}

/* Use Ubuntu Font Globally with Fallback */
* {
    font-family: 'Ubuntu', 'DejaVu Sans', 'Noto Sans', sans-serif !important;
    font-size: 17px !important;
}
